body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* content page */
.videos.card {
  background-image: url(https://cdn.shopify.com/s/files/1/0040/0962/3598/files/858A64DA-F1EE-4570-A0EC-1204067DFCCA.png?v=1581965939);
  background-size: cover;
  background-position: center;
}
